@font-face {
    font-family: "MasonChronicles";
    src: url("../fonts/masonchronicles.eot"); /* IE9 Compat Modes */
    src:
        url("../fonts/masonchronicles.otf") format("opentype"), /* Open Type Font */
        url("../fonts/masonchronicles.svg") format("svg"), /* Legacy iOS */
        url("../fonts/masonchronicles.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/masonchronicles.woff") format("woff"), /* Modern Browsers */
        url("../fonts/masonchronicles.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
:root {
    --primary: #9D2929;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #141218;
    background-image: url("../public/background.jpg");
    background-position: top right 20%;
    background-repeat: no-repeat;

    color: #FFF;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.container {
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

/*Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 60px;
}
.menu-list {
    margin-left: 67px;
    margin-right: auto;
}
.menu-link {
    margin-right: 24px;

    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}
.social-link {
    margin-left: 20px;
}
.menu-button {
    display: none;
}

/*Main*/

.main-content {
    display: flex;
    align-items: center;
    margin: 90px 0 85px;
}
.rating {
    display: flex;
    align-items: baseline;
    gap: 12px;

    margin-top: 16px;
}
.rating-number {
    font-size: 12px;
}
.main-title {
    margin-top: 10px;

    font-family: "MasonChronicles", serif;
    font-size: 76px;
    line-height: 150%;
}
.main-description {
    max-width: 458px;
    margin-top: 10px;

    line-height: 150%;
}
.button {
    margin-top: 40px;
    padding: 22px 72px;

    border-radius: 8px;
    border: none;

    background: var(--primary);
    color: #FFF;
}
.play {
    margin: auto;

    background-color: var(--primary);
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
}
.play-img {
    transform: translate(-22px, -17px);
}
/*Slider*/
.series {
    position: relative;

    display: flex;
    align-items: center;

    max-width: 420px;
    padding-bottom: 50px;
}
.swiper {
    max-width: 420px;
    margin-left: 0;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 164px;
    height: 113px;

    padding: 13px;

    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.card-subtitle {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 10px;
}
.card-1 {
    background: url("../public/cards/seria1-min.jpg");
}
.card-2 {
    background: url("../public/cards/seria2-min.jpg");
}
.card-3 {
    background: url("../public/cards/seria3-min.jpg");
}
.card-4 {
    background: url("../public/cards/seria4-min.jpg");
}
.card-5 {
    background: url("../public/cards/seria5-min.jpg");
}
.card-6 {
    background: url("../public/cards/seria6-min.jpg");
}
.card-7 {
    background: url("../public/cards/seria7-min.jpg");
}
.card-8 {
    background: url("../public/cards/seria8-min.jpg");
}
.arrow {
    position: absolute;
    z-index: 2;
    top: 30%;
    right: 0;

    width: 32px;
    height: 23px;
    border: none;
    background: url("../public/arrow.svg") no-repeat center transparent;
}

/*Footer*/

.footer {
    margin-top: auto;
    padding: 20px 0;
    background-color: #141218;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.copyright {
    color: rgba(255, 255, 255, .3);
}
.footer-menu {
    display: flex;
    gap: 25px;
}
.footer-link {
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
}

/*Media*/

@media (max-width: 760px) {
    .play {
        display: none;
    }
}

@media (max-width: 600px) {
    .header {
        display: none;
        width: 250px;
        height: 263px;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        gap: 30px;
        padding-top: 30px;
        background-color: var(--primary);
    }
    .header-active {
        display: flex;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 auto 40px;
        order: 2;
    }
    .menu-link {
        margin: auto;
    }
    .social {
        display: flex;
        gap: 16px;
        order: 1;
    }
    .social-link {
        margin: auto;
    }
    .menu-button {
        display: block;
        position: absolute;
        right: 35px;
        top: 40px;
        width: 30px;
        height: 2px;
        background-color: #FFF;
    }
    .menu-button:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 2px;
        background-color: #FFF;
        margin-top: -7px;
        transition: transform 0.2s;
    }
    .menu-button:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 2px;
        background-color: #FFF;
        margin-top: 7px;
        transition: transform 0.2s;
    }
    .menu-button-active {
        height: 0;
    }
    .menu-button-active:after {
        margin-top: 0;
        transform: rotate(45deg);
    }
    .menu-button-active:before {
        margin-top: 0;
        transform: rotate(-45deg);
    }
    .main-content {
        padding-top: 100px;
    }
    .main-title {
        font-size: 56px;
    }
    .series {
        max-width: 220px;
    }
    .footer-content {
        flex-direction: column;
        gap: 12px;
    }
}


